.theme-dark {
    --page-background-color: #17181e;
    --card-background-color: #1f2027;
    --button-background-color: #ef5753;
    --header-background-color: #1f2027;

    --text-default-color: #fff;
    --text-muted-color: rgba(255, 255, 255, 0.5);
    --text-muted-light-color: rgba(255, 255, 255, 0.3);
    --text-accent-color: #ef5753;
    --text-accent-light-color: #f9acaa;
    --text-error-color: red;

}